<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@LittleFish.Util.Config.GetValue("SystemName").ToString()</title>
    <script src="~/Content/scripts/jquery/jquery-1.10.2.min.js"></script>
    <link href="~/Content/styles/littlefish-newlogin.css" rel="stylesheet" />
    <link href="~/Content/styles/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Content/scripts/plugins/jquery.md5.js"></script>
    <script src="~/Content/scripts/plugins/cookie/jquery.cookie.js"></script>
    <script src="~/Content/scripts/plugins/dialog/dialog.js"></script>
    <script src="~/Content/scripts/utils/littlefish-ui.js"></script>
    <script src="~/Content/scripts/plugins/validator/validator.js"></script>
    <script src="~/Content/scripts/plugins/tipso.min.js"></script>
    <script>
        var contentPath = '@Url.Content("~")'.substr(0, '@Url.Content("~")'.length - 1);
        var isIE = !!window.ActiveXObject;
        var isIE6 = isIE && !window.XMLHttpRequest;
        if (isIE6) {
            window.location.href = contentPath + "/Error/ErrorBrowser";
        }
        //回车键
        document.onkeydown = function (e) {
            if (!e) e = window.event;
            if ((e.keyCode || e.which) == 13) {
                var btlogin = document.getElementById("btnlogin");
                btnlogin.click();
            }
        }
        //初始化
        $(function () { 
            //错误提示
            if (top.$.cookie('littlefish_login_error') != null) {
                switch (top.$.cookie('littlefish_login_error')) {
                    case "Overdue":
                        formMessage('登录已超时,请重新登录');
                        break;
                    case "OnLine":
                        formMessage('您的帐号已在其它地方登录,请重新登录');
                        break;
                    case "-1":
                        formMessage('未知错误,请重新登录');
                        break;
                    default:
                        break;
                }
                top.$.cookie('littlefish_login_error', '', { path: "/", expires: -1 });
            }
            //是否自动登录
            if (top.$.cookie('learn_autologin') == 1) {
                $("#autologin").attr("checked", 'true');
                $("#username").val(top.$.cookie('learn_username'));
                $("#password").val(top.$.cookie('learn_password'));
                CheckLogin(1);
            }
            //设置下次自动登录
            $("#autologin").click(function () {
                if (!$(this).attr('checked')) {
                    $(this).attr("checked", 'true');
                    top.$.cookie('learn_autologin', 1, { path: "/", expires: 7 });
                } else {
                    $(this).removeAttr("checked");
                    top.$.cookie('learn_autologin', '', { path: "/", expires: -1 });
                    top.$.cookie('learn_username', '', { path: "/", expires: -1 });
                    top.$.cookie('learn_password', '', { path: "/", expires: -1 });
                }
            })
            //登录按钮事件
            $("#btnlogin").click(function () {
                var $username = $("#username");
                var $password = $("#password");
                var $verifycode = $("#verifycode");
                if ($username.val() == "") {
                    $username.focus();
                    formMessage('请输入账户或手机号或邮箱。');
                    return false;
                } else if ($password.val() == "") {
                    $password.focus();
                    formMessage('请输入密码。');
                    return false;
                } else if ($verifycode.val() == "") {
                    $verifycode.focus();
                    formMessage('请输入验证码。');
                    return false;
                } else {
                    CheckLogin(0);
                }
            })
            //点击切换验证码
            $("#login_verifycode").click(function () {
                $("#verifycode").val('');
                $("#login_verifycode").attr("src", contentPath + "/Login/VerifyCode?time=" + Math.random());
            });
            //切换注册表单
            $("#a_register").click(function () {
                $("#loginform").hide();
                $("#registerform").show();
                $("#register_verifycode").attr("src", contentPath + "/Login/VerifyCode?time=" + Math.random());
                $(".wrap").css("margin-top", ($(window).height() - $(".wrap").height()) / 2 - 35);
            });
            //切换登录表单
            $("#a_login").click(function () {
                $("#loginform").show();
                $("#registerform").hide();
                $("#login_verifycode").attr("src", contentPath + "/Login/VerifyCode?time=" + Math.random());
                $(".wrap").css("margin-top", ($(window).height() - $(".wrap").height()) / 2 - 35);
            });
        })
        //登录验证
        function CheckLogin(autologin) {
            $("#btnlogin").addClass('active').attr('disabled', 'disabled');
            $("#btnlogin").find('span').hide();

            var username = $.trim($("#username").val());
            var password = $.trim($("#password").val());
            var verifycode = $.trim($("#verifycode").val());
            if (top.$.cookie('learn_password') == "" || top.$.cookie('learn_password') == null) {
                password = $.md5(password);
            }
            $.ajax({
                url: contentPath + "/Login/CheckLogin",
                data: { username: $.trim(username), password: $.trim(password), verifycode: verifycode, autologin: autologin },
                type: "post",
                dataType: "json",
                success: function (data) {
                    if (data.type == 1) {
                        if (top.$.cookie('learn_autologin') == 1) {
                            top.$.cookie('learn_username', $.trim(username), { path: "/", expires: 7 });
                            top.$.cookie('learn_password', $.trim(password), { path: "/", expires: 7 });
                        }
                        window.location.href = contentPath + '/Home/AdminDefault';
                    } else {
                        if (data.message.length >= 30) {
                            dialogAlert(data.message, 0)
                        } else {
                            formMessage(data.message);
                        }
                        $("#btnlogin").removeClass('active').removeAttr('disabled');
                        $("#btnlogin").find('span').show();
                        $("#login_verifycode").trigger("click");
                    }
                }
            });
        }
        //提示信息
        function formMessage(msg, type) {
            var c = $("#lr_tips"); c.html('');
            c.hide(); 
            var _class = "login_tips";
            if (type == 1) {
                _class = "login_tips-succeed";
            }
                $('#lr_tips').prepend('<dt><div class="' + _class + '"><i class="fa fa-question-circle"></i>' + msg + '</div></dt>');
                c.show()  
        }
         
    </script>
</head>
<body>
    <div class="lr-layout-block top">
        <img src="/Content/images/Login/logo.png" />
    </div>
    <div class="lr-layout-block middle">
        <div class="lr-layout-side left">
            <img src="/Content/images/Login/bg_01.png" />
        </div>

        <div id="loginform" class="lr-layout-side center">
            <div class="lr-login-form">
                <div class="lr-tips" id="lr_tips"></div>
                <div class="lr-input-item ">
                    <label class="name-label"></label>
                    <input id="username" type="text" placeholder="手机号/账户">
                </div>
                <div class="lr-input-item">
                    <label class="pwd-label"></label>
                    <input id="password" type="password" placeholder="密码">
                </div>
                <div class="lr-input-item" >
                    <label class="code-label"></label>
                    <input id="verifycode" maxlength="4" type="text" placeholder="图片验证码">
                    <div style="height: 36px;width: 100px;position: absolute;right: 0px;top: 0px;">
                        <img id="login_verifycode" src="/Login/VerifyCode" alt="点击切换验证码" title="点击切换验证码" />
                    </div>
                </div>
                <button id="btnlogin" type="button"><span>登录</span></button>
                <div class="lr-login-links">
                    <a href="#" onclick="alert('请联系管理员:15365380681')">忘记密码</a>
                </div>
                <div class="lr-version">当前版本 V6.1.6.2</div>
            </div>
        </div>
        <div class="lr-layout-side right">
            <img src="/Content/images/Login/bg_03.png" />
        </div>
    </div>
    <div class="lr-layout-block bottom">小鱼科技有限公司出品<br></div>

     
</body>
</html>
