<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="LittleFish.Data.IDatabase,LittleFish.Data" />
    <typeAlias alias="EFDatabase" type="LittleFish.Data.EF.Database,LittleFish.Data.EF" />
    <typeAlias alias="IDbContext" type="LittleFish.Data.EF.IDbContext,LittleFish.Data.EF" />
    <typeAlias alias="MySql" type="LittleFish.Data.EF.MySqlDbContext,LittleFish.Data.EF" />
    <typeAlias alias="SqlServer" type="LittleFish.Data.EF.SqlServerDbContext,LittleFish.Data.EF" />
  </typeAliases>
  <containers>
    <container name="DBcontainer">
      <type type="IDatabase" mapTo="EFDatabase" ></type >
      <!-- 默认数据库软件类型：SqlServer,MySql,Oracle,Access,SQLite-->
      <type type="IDbContext" mapTo="SqlServer" ></type >
      <type type="IDbContext" mapTo="SqlServer" name="SqlServer"></type >
      <type type="IDbContext" mapTo="MySql" name="MySql"></type >
    </container>
  </containers>
</unity>